/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #f5f5ea !default;  /* #eeeeee */
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
$primary-color: #f5f5ea !default;         /* #0092ca */
$border-color: mix(#f5f5ea, #f5f5ea, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #393e46 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#222831, $text-color, 80%) !default;

.page__footer {
  color: #222831 !important; // override #fff
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
